
.pendingTasksContainer, .completedTasksContainer {
    clear: left;
}

.tasksList {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

a, p, div {
    word-break: break-word;
    white-space: normal;
}

.newTask a {
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

    .newTask a:hover {
        text-decoration: none;
        color: mediumblue;
    }

div.taskBody {
    font-size: 12px;
    width: auto;
    height: auto;
    max-width: 48%;
    margin: 5px;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

    div.taskBody a {
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
    }

        div.taskBody a:hover {
            text-decoration: none;
            color: mediumblue;
        }


@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }

    div.taskBody {
        width: auto;
        height: auto;
        max-width: 90%;
        margin: 5px;
        float: left;
    }
}
